<!--p: padding, mt: margin top-->
<header class="jumbotron p-4 mt-3">
    <h1><b>SHOPPING CART</b></h1>
    <!--bg light: background light-->
    <!--css grid, materialize-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
      <ul class="navbar-nav">
        <!--router link dá o controle da navegação pro angular 
          em vez de ter que ficar carregando a página tudo de novo.
          single page app -->
        <li><a routerLink="/shopping-list" class="nav-link">My shopping cart</a></li>
        <li><a routerLink="/about"  class="nav-link">About</a></li>
      </ul>
    </nav>
  </header>
