<p><b>
  Here you can make your shopping list!
  <br><br>
  Include the name of the item in the first field, indicated with "Item name...".
  Include the quantity of the item in the second field, indicated with "Quantity...".
  If you don't specify any quantity, 1 is assumed.
  Include the unit price of the item in the third field, indicated with "Unit price..."
  If you don't specify any quantity, $0 is assumed.
  <br><br>
  The total price of the cart is shown in the field "TOTAL PRICE", updated in real time, 
  as items are being changed.
  <br><br>
  You can increase or decrease the number of items in the shopping list, by clicking
  on "+" and "-" buttons, respectively. The price of each item changes with the quantity,
  and so does the total price.
  <br><br>
  To remove an item of the list, click onthe "Remove" button.
  <br><br>
  If you buy 1 item of an item, you can click on the "-" button to decrease the needed
  quantity to buy.
  If you want to mark the item as bought (for all quantities), click on the "Bought all" button.
  If you keep decreasing the quantity until it reaches 0, then it is automatically marked as "Bought all",
  then you can remove the item from the list or increase the quantity to buy again.
  <br><br>
  To reset the list, click on "Clear List" button.
  <br><br>
</b></p>
